#show-order{
  display: none;
}
body{
  text-align: center;
  background-color: #FFA500;
}

#header h1{
  font-family: 'Permanent Marker';
  font-size: 80px;
}
#header p{
  font-size:25px;
  font-family: 'Permanent Marker';
}

#order{
  font-size: 30px;
  font-family: 'Dosis';
}
#order p{
  font-weight: bold;
  color: gray;
}
.btn{
  font-size: 30px;
}
