#show-order{
  display: none;

}
#checkout{
  display: none;
}
#show-location{
  display: none;
}
body{
  text-align: center;
  background: url(../img/header.jpg);
  background-size: cover;
  background-position: right;
  color: white;

}
#header {
  font-family: 'Lacquer';
  color: #FFA500;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
#header h1{
  font-size: 100px;
  color:gray;
}
#header p {
  font-size:25px;
}

#make-order{
  color: #FFA500;
  font-family: 'Lacquer';
  font-size: 40px;
}

#order{
  font-size: 20px;
  font-family: 'Dosis';
}
#order p{
  font-family: 'Lacquer';
  color: #FFA500;
  font-size: 40px;
}
.btn{
  font-size: 25px;
  color:white;
}

#show-order p{
  background-color: transparent;
  font-size: 25px;

}
